<ul class="nav navbar-nav">
  <%= content_tag :li, class: current_page?(root_path) ? 'active' : 'nil' do %>
  <a href="/">Home page</a>
  <% end %>
  <%= content_tag :li, class: current_page?(root_path) ? 'active' : 'nil' do %>
  <a href="/home/about">About</a>
  <% end %>
  <%= content_tag :li, class: current_page?(contact_url) ? 'active' : 'nil' do %>
  <!-- how to write in html <a href="/contact">Contact page</a> -->
  <%= link_to 'Contacts', contact_url %>
  <% end %>
  <!-- to open a link in a new page target blank -->
<%= content_tag :li, class: current_page?(pages_help_url) ? 'active' : 'nil' do %>
  <%= link_to 'Help Page', pages_help_url, target: '_blank' %>
  <% end %>
</ul>
