<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- to overwrite bootstrap put your own stylesheet after bootsrap -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <div class="container">
  <center>
  <%= yield :page_title %>
  </center>
  <%= yield %>

</body>
</html>

<!-- rake routes to check the url -->
<!-- dfjsl -->
